.col-sm-12{
text-align:center;
margin-top:80px;
margin-bottom:80px;
}
.row1{
background-color:#eee;
}
h1{
font-weight:bold;
color:#035c6d;
}

.row2{
margin-top:50px;
margin-bottom:50px;
margin-left:20px;
}

.gallery{
width:270px;
height:290px;
margin-bottom:10px;
margin-top:10px;
border:2px solid #6c757d;
}




.footer-area{
background-color:#e4df79;
}

.single-footer-widget h4{
margin-top:20px;
font-weight:700;

}

.single-footer-widget p{
margin-top:0px;
font-weight:400;
}
.footer-text{
margin-bottom:20px;
}
.social-media h4{
margin-top:20px;
text-align:right;
font-weight:700;
margin-right:40px;
}
.social-media p{
margin-top:0px;
text-align:right;
font-weight:400;
margin-right:40px;

}

.social-link{
width:8%;
height:auto;
border:0px;
margin-right:10px;
margin-bottom:30px;
margin-top:2px;
background:transparent;

}


